PORT=8080
BACKEND_URL="http://localhost:8080"
FRONTEND_URL="http://localhost:3000"
AUTH_SECRET=""

DATABASE_URL=""
REDIS_URL=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""

ARCJET_ENV=development
ARCJET_KEY=